<footer>
        <div class="footer">
            <div class="flex-gap-1 flex-gap"><a aria-label="SunnySideSuncastle logo" href="/">SunnySideSuncastle<img class="logo-header-footer" src="{{this.src}}"></a></div>
            <div class="flex-gap-2 flex-gap">
                <div class="info-text">About SSS</div>
                <div><a class="about-us-page-button" href="#">About Us</a></div>
                <div><a class="faq-page-button" href="#">FAQ</a></div>
            </div>
            <div class="flex-gap-3 flex-gap">
                <div class="info-text">Contact Us</div>
                <div><a class="support-email-phone" href="support@ssshotel.com">support@ssshotel.com</a></div>
                <div><a class="support-email-phone" href="#">+ 92348012938</a></div>
            </div>
        </div>
        <div class="copyright-text">
            &copy Sunny Side Sandcastle. All rights reserved
        </div>
    </footer>