<header>
    <div class="header">
        <a aria-label="SynnySideSuncastle logo" href="/"><img class="logo-header-footer" src="../../public/logo2.png"></a>
        <a aria-label="SynnySideSuncastle logo" href="/"><img class="logo-header-footer" src="public\logo2.png"></a>
        <a aria-label="SynnySideSuncastle logo" href="/"><img class="logo-header-footer" src="..\..\public\logo2.png"></a>
        <a aria-label="SynnySideSuncastle logo" href="/"><img class="logo-header-footer" src="{{logoImgURL}}"></a>
        <div class="right-side-header">
            <button id="toggle-high-contrast">High Contrast Mode</button>
            <a class="login-page-button" href="#">Login</a>
        </div>
    </div>
</header>
