<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN PAGE for {{companyName}} (views/admin.handlebars)</title>
</head>
  <h1>ADMIN PAGE for {{companyName}} (views/admin.handlebars)</h1>
  <ul id="users"></ul>
<body>
    
{{>header}}
<div class="admin-page-container">
        <div><h1><h1>ADMIN PAGE for {{companyName}} (views/admin.handlebars)</h1></h1></div>
        <div class="sign-in-text">You can change your information and user information here</div>
        <br>
        <div class="sign-in-text">Your information:</div>
        <div class="admin-container">
            <div class="fields">
                <input class="email field" id="email" placeholder="Email address" type="email" value="" title="">
                <input class="password field" id="password" placeholder="Password" type="password" value="" title="">
            </div>
        </div>
        <button class="continue-button" type="submit">Save My information</button>
        <br>
        <br>
        <div class="sign-in-text">User information:</div>
        <br>
        <!-- CRUD should be here -->

        <button class="continue-button" type="submit">Save User information</button>
    </div>
{{>footer}}
</body>
</html>