<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin LogIn</title>
</head>
{{>header}}
<body>
    <div class="booking-page-container">
    <h1>Admin Login</h1>
    <div class="booking-text"><h4>Please fill in all of the fields below:</h4></div>
    <form method="GET" action="/admins">
        <div class="fields">
        <input class="email txtField" type="text" placeholder="Email" name="email" required><br>
        <input class="password txtField" type="password" placeholder="Password" name="Pasword" required><br>
        </div>
        <button class="continue-button" type="submit" value="Admin login" onclick="/adminpage">Login</button>        
    </form>
</div>
</body>
{{>footer}}
</html>