<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking form</title>
</head>
<h1></h1>
<body>
{{>header}}
<div class="booking-page-container">
    <div><h1>Booking form</h1></div>
    <div class="booking-text"><h4>Please fill in all of the fields below:</h4></div>
    <form method="POST" action="/users">
        <div class="fields">
        <input class="userId txtField" type="text" placeholder="Id" name="userId"><br>
        <input class="firstName txtField" type="text" placeholder="First Name" name="firstName"><br>
        <input class="lastName txtField" type="text" placeholder="Last Name" name="lastName"><br>
        <input class="email txtField" type="text" placeholder="Email" name="email"><br>
        <input class="phoneNumber txtField" type="text" placeholder="Phone Number" name="phoneNumber"><br>
        </div>
        <button class="continue-button" type="submit" value="Submit user information" onclick="/thank-you">Submit</button>        
    </form>
</div>
{{>footer}}
</body>
</html>

