<h1>Booking form</h1>

<form method="post" action="/users">
    <input type="text" placeholder="First Name" name="firstName">
    <input type="text" placeholder="Last Name" name="lastName">
    <input type="text" placeholder="Email" name="email">
    <input type="text" placeholder="Phone Number" name="phoneNumber">
    <input type="text" placeholder="Check-in (DD.MM.YYYY)" name="check-in">
    <input type="text" placeholder="Check-out (DD.MM.YYYY)" name="check-out">
    <button>Send</button>
</form>