{{>header}}
<div class="upper-part-page">
        <div class="tagline">
            <h1 style="height: 100 px; margin: 30px; text-align: center;">
            Sunny Day Your Way!</h1>
        </div>


        <div class="picture-with-button">
        <img class="cool-picture" src="images/coolpicture3.png" alt="Panorama picture of a sunny beach">
        <div class="white-overlay"></div>
        <a class="fill-up-booking-form-button" href="/booking">Book your stay now!</a>
        </div>
    </div>

    <div class="popular-options">
        <h2 class="popular">Popular Options:</h2>
        <div class="rooms-container">
        <a href="/room1" class="box-link" >
            <div class="room1 box">
                <div class="room1 room flex-container" ><img class="main-page-room-picture" src="images/hotelrooms/upholstery-4809588_1920.jpg" alt="A spacious 1 double bed room for 103€ per night"></div>   
            </div>
        </a>
        <a href="/room2" class="box-link">
            <div class="room2 box">
                <div class="room2 room flex-container"><img class="main-page-room-picture" src="images/hotelrooms/pexels-photo-210604.jpeg" alt="A spacious 1 queen bed room for 165€ per night"></div>
            </div>
        </a>
        </div>
    </div>
{{>footer}}