{{!-- <h1>VIEWS/INDEX.HANDLEBARS PAGE HERE for {{companyName}} </h1> --}}
{{>header}}
<div class="upper-part-page">
        <div class="tagline">
            <h1 style="height: 100 px; margin: 30px;">Tagline ideas <br>
            Every Day is a Sunny Stay<br>
            Sunny Stay Every Day<br>
            Sunny Day Your Way</h1>
        </div>


        <div class="picture-with-button">
        <img class="cool-picture" src="/public/images/coolpicture3.png" alt="Panorama picture of a sunny beach">
        <div class="white-overlay"></div>
        <a class="fill-up-booking-form-button" href="#">Sign Up</a>
        </div>
    </div>

    <div class="popular-options">
        <h2>Popular Options:</h2>
        <a href="" class="box-link">
        <div class="room1 box">
            <div class="room1 room flex-container" >Picture of room 1</div>
        </div>
        </a>
        <a href="" class="box-link">
        <div class="room2 box">
            <div class="room2 room flex-container">Picture of room 2</div>
        </div>
        </a>
    </div>
{{>footer}}