<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room 1</title>
</head>
<body>
{{>header}}
    
    <div class="room-photos-container">
        <h1>Room 1</h1>
        <div class="room-photos">
            <div class="photo1"><img class="rooms-mainPicture" src="images/hotelrooms/upholstery-4809588_1920.jpg" alt="A queen bed with a bathroom close by"></div>
            <div class="photo2"><img class="rooms-picture" src="images/hotelrooms/pexels-max-vakhtbovycn-8146148.jpg" alt="A newly renovated bathroom"></div>
            <div class="photo3"><img class="rooms-picture" src="images/hotelrooms/pexels-leonardo-rossatti-2598638.jpg" alt="The relaxing view of the longue area of the hotel"></div>
            <div class="photo4"><img class="rooms-picture" src="images/hotelrooms/pexels-thorsten-technoman-338504.jpg" alt="Lovely pool in the resort with many chairs and a water-side bar"></div>
            <div class="photo5"><img class="rooms-picture" src="images/hotelrooms/pexels-jean-van-der-meulen-1457847.jpg" alt="Another type of bathroom that may be in these rooms"></div>
        </div>
    </div>
    <div class="under-pictures-container">
        <div class="room-description">
            <ul>
            <li>Sea view</li>
            <li>Coffee Machine</li>
            <li>Safe</li>
            <li>Iron</li>
            <li>1 Queen Bed</li>
            <li>Balcony</li>
            </ul> 
            <ul> 
            <li>Hairdryer</li>
            <li>Television</li>
            <li>Telephone</li>
            <li>Minibar</li>
            <li>Sofa</li>
            <li>Bathtub</li>
            </ul> 
        </div>
        <div class="price-reserve-container">
            <div class="price">€165/night</div>
            <button class="continue-button" type="submit" value="Reserve" onclick="">Reserve</button>
        </div>
    </div>
{{>footer}}
</body>
</html>

