<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking form</title>
</head>
<body>
{{>header}}
    
    <div class="room-photos-container">
        <h1>Room 2</h1>
        <div class="room-photos">
            <div class="photo1"></div>
            <div class="photo2"></div>
            <div class="photo3"></div>
            <div class="photo4"></div>
            <div class="photo5"></div>
        </div>
    </div>
    <div class="under-pictures-container">
        <div class="room-description">
            <ul>
            <li>Sea view</li>
            <li>Coffee Machine</li>
            <li>Safe</li>
            <li>Iron</li>
            <li>1 Double Bed</li>
            </ul> 
            <ul> 
            <li>Hairdryer</li>
            <li>Television</li>
            <li>Telephone</li>
            <li>Minibar</li>
            <li>Sofa</li>
            </ul> 
        </div>
        <div class="price-reserve-container">
            <div class="price">€165/night</div>
            <button class="continue-button" type="submit" value="Reserve" onclick="">Reserve</button>
        </div>
    </div>
{{>footer}}
</body>
</html>

