<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking form</title>
</head>
<body>
{{>header}}
    
    <div class="room-photos-container">
        <h1>Room 2</h1>
        <div class="room-photos">
            <div class="photo1"><img class="rooms-mainPicture" src="images/hotelrooms/pexels-photo-210604.jpeg" alt="Bedroom with a queen size bed and balcony"></div>
            <div class="photo2"><img class="rooms-picture" src="images/hotelrooms\pexels-arley-bateca-3941260.jpg" alt="Nice bright bathroom with good lighting"></div>
            <div class="photo3"><img class="rooms-picture" src="images/hotelrooms/pexels-leonardo-rossatti-2598638.jpg" alt="The relaxing view of the longue area of the hotel"></div>
            <div class="photo4"><img class="rooms-picture" src="images/hotelrooms/pexels-thorsten-technoman-338504.jpg" alt="Lovely pool in the resort with many chairs and a water-side bar"></div>
            <div class="photo5"><img class="rooms-picture" src="images/hotelrooms/pexels-arthouse-studio-4618550.jpg" alt="A fellow customer who decided to stay at the resort for the rest of their life"></div>
        </div>
    </div>
    <div class="under-pictures-container">
        <div class="room-description">
            <ul>
            <li>Sea view</li>
            <li>Coffee Machine</li>
            <li>Safe</li>
            <li>Iron</li>
            <li>1 Double Bed</li>
            </ul> 
            <ul> 
            <li>Hairdryer</li>
            <li>Television</li>
            <li>Telephone</li>
            <li>Minibar</li>
            <li>Sofa</li>
            </ul> 
        </div>
        <div class="price-reserve-container">
            <div class="price">€103/night</div>
            <a class="continue-button" type="submit" value="Reserve" href="/booking">Reserve</a>
        </div>
    </div>
{{>footer}}
</body>
</html>

