<h1>Thank you for sending the form!</h1>
<h2>We will contact you within 24 hours<br>
You may edit or cancel your booking forms below</h2>
<button value="Edit your information">Edit Reservation</button>
<button value="Cancel your reservation">Cancel Reservation</button>