html {
    height: 100%;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 100vh;
    background-color: white;
}

a{
    color: #ad4b28;
    text-decoration: none;
}

a:hover{
    color: #6f2c14;
}

/* header */
.header {
    padding: 20px;
    text-align: center;
    background: #F1EAA3;
    color: #ad4b28;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
  }

.logo-header-footer{
    max-width:200px;
}

.right-side-header{
    padding-top: 10px;
}

/* footer */
.footer {
    padding: 40px;
    margin-top: 70px;
    text-align: center;
    background: #F1EAA3;
    color: #ad4b28;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.flex-gap{
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
}

.info-text{
    color: #000;
    padding-bottom: 10px;
}

.support-email-phone{
    color: #8D7653;
}

.copyright-text{
    background-color: #F1EAA3;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: #8D7653;
    font-size: 20px;
}


#toggle-high-contrast{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    margin-right: 30px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#toggle-high-contrast:hover{
    color: #6f2c14;
}

.login-page-button{
    padding: 10px;
    font-weight: bold;
}

/* home page */
.home-page{
    margin: 20px;
}

.picture-with-button{
    justify-content: center;
}

.cool-picture{
    height: 20vh;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.white-overlay{
    background-color: #fff;
    justify-content: center;
    display: flex;
    position: absolute;
    transform: translate(45%, -90%);
    width: 50%;
    height: 10%;
    border-radius: 10px;
    box-shadow: 0 6px 5px -5px rgb(167, 167, 167);
}

.fill-up-booking-form-button{
    background-color: #B6F0FC;
    color: black;
    margin: 0 auto;
	border: none;
	padding: 10 px;
    width: 40%;
    border-radius: 5px;
	font: inherit;
    font-size: 30px;
	cursor: pointer;
	outline: inherit;
    position: absolute;
    justify-content: center;
    display: flex;
    transform: translate(69%, -110%);
}

.fill-up-booking-form-button:hover{
    background-color: #a1e7f5;
    color: black;
}



/* high-contrast mode (requires js) */
.high-contrast {
    color: #fff;
    background-color: #000;
}


/* for phones */
@media only screen and (max-width: 800px) {
    body{
        font-size: 24px;
    }

    .header {
        padding: 15px;
        text-align: center;
        background: #F1EAA3;
        color: #ad4b28;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
      }

      .footer {
        padding: 30px;
        text-align: center;
        font-size: 30px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }

      .flex-gap{
        padding: 20px;
    }
}