html {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-height: 100vh;
  background-color: white;
  color: #000;
}

a {
  color: #ad4b28;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 2px;
}

a:hover {
  color: #6f2c14;
  border: 2px solid;
}

a:focus {
  border: 2px dashed;
  outline: 1px;
}

h2 {
  margin: inherit;
  margin-left: 0px !important;
  font-size: 26px;
  font-weight: normal;
}

h3 {
  margin-left: 10px;
}

.header {
  padding: 20px;
  text-align: center;
  background: #f1eaa3;
  color: #ad4b28;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

.logo-header-footer {
  max-width: 200px;
}

.right-side-header {
  padding-top: 10px;
}

.footer {
  padding: 40px;
  margin-top: 70px;
  text-align: center;
  background: #f1eaa3;
  color: #ad4b28;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-gap {
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}

.info-text {
  color: #000;
  padding-bottom: 10px;
}

.support-email-phone {
  color: #8d7653;
}

.copyright-text {
  background-color: #f1eaa3;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #8d7653;
  font-size: 20px;
}

#toggle-high-contrast {
  background: none;
  color: inherit;
  border: 2px transparent;
  padding: 2px;
  margin-right: 30px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#toggle-high-contrast:hover {
  color: #6f2c14;
}

#toggle-high-contrast:focus {
  color: #6f2c14;
  border: 2px dashed;
  padding: 0px;
  outline: 2px;
}

.login-page-button {
  padding: 10px;
  font-weight: bold;
}

/* home page */
.upper-part-page {
  margin: 20px;
}

.picture-with-button {
  justify-content: center;
}

.cool-picture {
  height: 20vh;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.popular{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rooms-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page-room-picture{
  height: 29vh;
  width: 90%;
  border-radius: 20px;
  object-fit: cover;
  margin-left: 15px;
  margin-top: 13px;
}

.white-overlay {
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translate(45%, -90%);
  width: 50%;
  height: 10%;
  border-radius: 10px;
  box-shadow: 0 6px 5px -5px rgb(167, 167, 167);
}

/* booking form */
.fill-up-booking-form-button {
  background-color: #b6f0fc;
  color: black;
  margin: 0 auto;
  border: 2px solid transparent;
  padding: 10 px;
  width: 40%;
  border-radius: 5px;
  font: inherit;
  font-size: 30px;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  justify-content: center;
  display: flex;
  transform: translate(69%, -110%);
}

.fill-up-booking-form-button:hover {
  background-color: #a1e7f5;
  border: 2px solid transparent;
  color: black;
}

.fill-up-booking-form-button:focus {
  background-color: #a1e7f5;
  border: 2px dashed;
  padding: 0px;
  outline: 2px;
}

.popular-options {
  margin-top: 60px;
}

.rooms-container {
  display: flex;
  justify-content: space-evenly;
}

.room {
  margin-top: 20px;
  background-color: #b6f0fc;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

/* login */
.login-page-container {
  background-color: #b6f0fc;
  width: 40vw;
  height: 48vh;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 10vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-text {
  font-size: 24px;
}

.no-account {
  font-size: 18px;
  margin: 20px;
  margin-top: 40px;
}

/* buttons */
.continue-button {
  background: #2f9ac8;
  color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.continue-button:hover {
  border: 2px solid transparent;
  background: #2a8eb9;
  color: white;
}

.continue-button:focus{
  border: 2px dashed;
  border-color: #ffffff;
  outline: 2px;
}

.update-button {
  background: #4cbb6a;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.update-button:hover {
  background: #6fd78b;
  color: rgb(0, 0, 0);
}

.delete-button {
  background: #b0413f;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.delete-button:hover {
  background: #993533;
  color: white;
}

/* form */
.field {
  width: 200px;
  height: 50px;
  background-color: white;
  color: rgb(44, 43, 43);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 30px;
}

fieldset {
  border: transparent;
}

/* rooms */
.room-photos-container {
  margin: 0 auto;
  width: 85%;
  height: 50vh;
  margin-bottom: 40px;
}

.room-photos {
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 100%;
}

.photo1 {
  background-color: #b6f0fc;
  border-radius: 10px;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;
}
.photo2 {
  background-color: #b6f0fc;
  border-radius: 10px;
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 4;
}
.photo3 {
  background-color: #b6f0fc;
  border-radius: 10px;
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 2;
  grid-column-end: 5;
}
.photo4 {
  background-color: #b6f0fc;
  border-radius: 10px;
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;
}
.photo5 {
  background-color: #b6f0fc;
  border-radius: 10px;
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 3;
  grid-column-end: 5;
}

.rooms-mainPicture{
  height: 55vh;
  width: 95%;
  border-radius: 20px;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 20px;
}

.rooms-picture{
  height: 28vh;
  width: 90%;
  border-radius: 20px;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.under-pictures-container {
  width: 70%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 100px;
}

.room-description {
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-reserve-container {
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  background-color: #b6f0fc;
  margin: 10px;
  padding: 30px;
  border-radius: 10px;
}

/* admin page */
.admin-page-container {
  background-color: #b6f0fc;
  width: 70vw;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  margin: 20px;
  border-collapse: collapse;
  min-width: 400px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* different colour for every second row */
table tr:nth-of-type(even) {
  background-color: #cef1f8;
}

th,
td {
  padding: 15px 18px;
}

th {
  background-color: #74c5e8;
  text-align: left;
}

tr {
  text-align: left;
  background-color: #fff;
}

.booking-page-container {
  background-color: #b6f0fc;
  width: 40vw;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

/* admin edit page */
.admin-edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.txtField {
  width: 200px;
  height: 50px;
  border: 2px transparent;
  background-color: white;
  color: rgb(26, 25, 25);
  border-radius: 10px;
  display: flexbox;
  margin: 15px;
}

.txtField:focus{
  color: #6f2c14;
  border: 2px dashed;
  outline: 2px;
  background-color: #f0feff;
}

.admin-id-search-form {
  height: 50px;
  color: rgb(44, 43, 43);
  margin: 10px;
}

/* thank you page */
.thank-you-page-container {
  background-color: #b6f0fc;
  width: 40vw;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.reservation-confirmation{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}


/* high-contrast mode (javascript was hardcoded into the header.handlebars) */
.high-contrast{
  background-color: #000;
  color: #fff;
}

.high-contrast-header-footer{
  border: 2px solid white;
  background-color: black !important;
  color: white;
}

.high-contrast-link{
  color: yellow !important;
}

.high-contrast-link:hover{
  border: 2px solid transparent !important;
  color: yellow !important;
  text-decoration: underline !important;
}

.high-contrast-link:focus{
  border: 2px dashed;
  outline: 1px;
  color: yellow !important;
}

.high-contrast-button{
  background-color: black;
  border: 2px solid yellow;
  color: yellow;
}

.high-contrast-button:hover{
  text-decoration: underline;
  background-color: black !important;
  border: 2px solid yellow;
}

.high-contrast-blue-container{
  background-color: #000;
  color: #fff;
  border: 2px solid white;
}

.high-contrast-text{
  background-color: #000;
  color: #fff;
}

.high-contrast-link-logo{
  border: 2px solid transparent;
}

.high-contrast-link-logo:hover{
  border: 2px dashed transparent;
}

.high-contrast-link-logo:focus{
  border: 2px dashed yellow;
}

.high-contrast-toggle-high-contrast:hover{
  color: rgb(61, 255, 47) !important;
}

.high-contrast-toggle-high-contrast:focus{
  color: rgb(61, 255, 47) !important;
}

.high-contrast-txtField{
  background-color: #000;
  border: 2px solid yellow;
  color: white;
}

.high-contrast-txtField:focus{
  background-color: #000;
  border: 3px solid yellow;
  color: white;
}

/* usefull links for the high contrast mode:
https://www.smashingmagazine.com/2022/06/guide-windows-high-contrast-mode/
https://dev.to/eevajonnapanula/things-you-probably-didn-t-know-about-windows-high-contrast-mode-5gb5
https://web.dev/articles/color-and-contrast-accessibility
https://blog.logrocket.com/boost-accessibility-high-contrast-users-css/
http://www.colorsontheweb.com/color-theory/color-contrast
https://www.perkins.org/resource/choosing-high-contrast-color-schemes-for-low-vision/
https://www.chhs.colostate.edu/accessibility/best-practices-how-tos/color-contrast/
 */

/* for phones */
@media only screen and (max-width: 800px) {
  body {
    font-size: 24px;
  }

  .header {
    padding: 15px;
    text-align: center;
    background: #f1eaa3;
    color: #ad4b28;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
  }

  .footer {
    padding: 30px;
    text-align: center;
    font-size: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .flex-gap {
    padding: 20px;
  }
}
